* {
  margin: 0px;
}

img {
  height: 100px;
}



.appContainer {
  // width: 100%;
  // height: 96vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  // margin: 10px;
  background: yellow;

}

.header {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  // height: 20px;ß¡
  // max-height: 20px;
}

.getMealPlanByGoalHeader {
  background: rgb(12, 161, 99);
  min-height: 230px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.getMealPlanByGoal {
  display: flex;
  flex-direction: column;
  width: 50%;
  // min-height: 70vh;
  background: rgb(12, 161, 99);
}

.mealDescription {
  min-height: 100px;
  padding: 10px;
}

.RenderDailyMealPlanContainer {
  // max-height: 50%;
  // background: green;
}

.getRecipeByIngredientsContainer {
  background: rgb(10, 204, 211);
  width: 50%;
}

.getRecipeByIngredientsHeader {
  min-height: 230px;
  padding: 20px;
  background: rgb(10, 204, 211);
  border-bottom: 1px solid black;
}

.magicFridgeRecipe {
  background: red;
}

.searchForRecipeByNameContainer {
  background: orangered;
}

.cardsContainer {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.recipeCardsContainer {
  display: flex;
  flex-wrap: wrap;

}

.recipeCard {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px  rgba(70, 69, 69, 0.548);
  background: rgba(255, 255, 255, 0.9);

  &:hover {
    cursor: pointer;
  }
  
}



.recipeCard_image {
  border: 2px solid grey;
  border-radius: 10px;
}

.recipeCard_nutrientInfoLine {
  display: flex;
  justify-content: space-between;
  // background: rgb(10, 204, 211);

}

.modalRecipeContainer {
  background: red;
}
