* {
  margin: 0px;
}

img {
  height: 100px;
}

.appContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background: yellow;
}

.header {
  text-align: center;
  width: 100%;
}

.getMealPlanByGoal {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #0ca163;
}

.getMealPlanByGoalHeader {
  background: #dd17dd;
  min-height: 230px;
}

.mealDescription {
  min-height: 150px;
  background: black;
}

.getRecipeByIngredientsContainer {
  background: #0accd3;
  width: 50%;
}

.getRecipeByIngredientsHeader {
  background: grey;
  min-height: 230px;
}

.magicFridgeRecipe {
  background: red;
}

.searchForRecipeByNameContainer {
  background: orangered;
}

.recipeCard {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 300px;
}
