* {
  margin: 0px;
}

img {
  height: 100px;
}

.appContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background: yellow;
}

.header {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
}

.getMealPlanByGoalHeader {
  background: #0ca163;
  min-height: 230px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.getMealPlanByGoal {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #0ca163;
}

.mealDescription {
  min-height: 100px;
  padding: 10px;
}

.getRecipeByIngredientsContainer {
  background: #0accd3;
  width: 50%;
}

.getRecipeByIngredientsHeader {
  min-height: 230px;
  padding: 20px;
  background: #0accd3;
  border-bottom: 1px solid black;
}

.magicFridgeRecipe {
  background: red;
}

.searchForRecipeByNameContainer {
  background: orangered;
}

.recipeCardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(70, 69, 69, 0.548);
  background: rgba(255, 255, 255, 0.9);
}
.recipeCard:hover {
  cursor: pointer;
}

.recipeCard_image {
  border: 2px solid grey;
  border-radius: 10px;
}

.recipeCard_nutrientInfoLine {
  display: flex;
  justify-content: space-between;
}

.modalRecipeContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #c5c5c5;
}
