.getMealPlanByGoalHeader {
  min-height: 230px;
  padding: 20px;
}

.getMealPlanByGoalHeader_sectionTitle {
  padding: 0px 0px 10px 0px;
}

.getMealPlanByGoalHeader_info {
  padding: 5px 0px 5px 0px;
}

.userWeightInput {
  width: 60px;
  margin-right: 2px;
  text-align: center;
}
