.getMealPlanByGoalHeader {
  min-height: 230px;
  padding: 20px;
}

.getMealPlanByGoalHeader_h2 {
  padding: 0px 0px 10px 0px;
}

.getMealPlanByGoalHeader_p {
  padding: 5px 0px 5px 0px;
}

.usersWeightInput {
  width: 50px;
  margin-right: 2px;
  text-align: center;
}
