.fridgeIngredientsListContainer {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-width: 250px;
  padding: 27px 0px 0px 38px;
  font-weight: 900;
  font-size: 17px;
  background-image: url('./assets/fridge.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.fridgeIngredientsListContainer_inner {
  height: 95px;
}

.fridgeIngredientsListContainer_magicButton {
  position: static;
  width: 79px;
  margin: 65px 0px 0px 25px;
  border-radius: 5px;
  font-weight: 600;
  background: white;
  cursor: pointer;
}
.fridgeIngredientsListContainer_magicButton:hover {
  background: #00d9ff;
}

@media screen and (max-width: 500px) {
  .fridgeIngredientsListContainer {
    padding: 8px 0px 0px 18px;
  }
}
