.fridgeItemContainer {
  padding-left: 14px;
}

.fridgeItemContainer_removeButton {
  padding: 0px 3px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 0, 0, 0.9);
}
.fridgeItemContainer_removeButton:hover {
  cursor: pointer;
}

.fridgeItemContainer_itemName {
  padding-left: 6px;
}
.fridgeItemContainer_itemName:hover {
  cursor: pointer;
}
